<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>ATM_Man</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.uniquedeveloper.registration.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.uniquedeveloper.registration.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationServlets</display-name>
    <servlet-name>RegistrationServlets</servlet-name>
    <servlet-class>com.uniquedeveloper.registration.RegistrationServlets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlets</servlet-name>
    <url-pattern>/RegistrationServlets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminlogin</display-name>
    <servlet-name>adminlogin</servlet-name>
    <servlet-class>com.uniquedeveloper.registration.adminlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminlogin</servlet-name>
    <url-pattern>/adminlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admindashboard</display-name>
    <servlet-name>admindashboard</servlet-name>
    <servlet-class>com.uniquedeveloper.registration.admindashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admindashboard</servlet-name>
    <url-pattern>/admindashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationServlet</display-name>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>com.uniquedeveloper.registration.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationServletss</display-name>
    <servlet-name>RegistrationServletss</servlet-name>
    <servlet-class>uniquedeveloper.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServletss</servlet-name>
    <url-pattern>/RegistrationServletss</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logouts</display-name>
    <servlet-name>Logouts</servlet-name>
    <servlet-class>uniquedeveloper.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logouts</servlet-name>
    <url-pattern>/Logouts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logins</display-name>
    <servlet-name>Logins</servlet-name>
    <servlet-class>uniquedeveloper.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logins</servlet-name>
    <url-pattern>/Logins</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminlogins</display-name>
    <servlet-name>adminlogins</servlet-name>
    <servlet-class>uniquedeveloper.adminlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminlogins</servlet-name>
    <url-pattern>/adminlogins</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admindashboards</display-name>
    <servlet-name>admindashboards</servlet-name>
    <servlet-class>uniquedeveloper.admindashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admindashboards</servlet-name>
    <url-pattern>/admindashboards</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>index</display-name>
    <servlet-name>index</servlet-name>
    <servlet-class>uniquedeveloper.index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>indexdeposit</display-name>
    <servlet-name>indexdeposit</servlet-name>
    <servlet-class>uniquedeveloper.indexdeposit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>indexdeposit</servlet-name>
    <url-pattern>/indexdeposit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationServlete</display-name>
    <servlet-name>RegistrationServlete</servlet-name>
    <servlet-class>uniquedeveloper.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlete</servlet-name>
    <url-pattern>/RegistrationServlete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logoute</display-name>
    <servlet-name>Logoute</servlet-name>
    <servlet-class>uniquedeveloper.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logoute</servlet-name>
    <url-pattern>/Logoute</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Loginn</display-name>
    <servlet-name>Loginn</servlet-name>
    <servlet-class>uniquedeveloper.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loginn</servlet-name>
    <url-pattern>/Loginn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>indexdepositt</display-name>
    <servlet-name>indexdepositt</servlet-name>
    <servlet-class>uniquedeveloper.indexdeposit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>indexdepositt</servlet-name>
    <url-pattern>/indexdepositt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminloginn</display-name>
    <servlet-name>adminloginn</servlet-name>
    <servlet-class>uniquedeveloper.adminlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminloginn</servlet-name>
    <url-pattern>/adminloginn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admindashboardd</display-name>
    <servlet-name>admindashboardd</servlet-name>
    <servlet-class>uniquedeveloper.admindashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admindashboardd</servlet-name>
    <url-pattern>/admindashboardd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>balance</display-name>
    <servlet-name>balance</servlet-name>
    <servlet-class>uniquedeveloper.balance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>balance</servlet-name>
    <url-pattern>/balance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>withdraw</display-name>
    <servlet-name>withdraw</servlet-name>
    <servlet-class>uniquedeveloper.withdraw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>withdraw</servlet-name>
    <url-pattern>/withdraw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>credit</display-name>
    <servlet-name>credit</servlet-name>
    <servlet-class>uniquedeveloper.credit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>credit</servlet-name>
    <url-pattern>/credit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditAction</display-name>
    <servlet-name>EditAction</servlet-name>
    <servlet-class>uniquedeveloper.EditAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditAction</servlet-name>
    <url-pattern>/EditAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewUesr</display-name>
    <servlet-name>AddNewUesr</servlet-name>
    <servlet-class>uniquedeveloper.AddNewUesr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewUesr</servlet-name>
    <url-pattern>/AddNewUesr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deleteusers</display-name>
    <servlet-name>Deleteusers</servlet-name>
    <servlet-class>uniquedeveloper.Deleteusers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deleteusers</servlet-name>
    <url-pattern>/Deleteusers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deposit</display-name>
    <servlet-name>Deposit</servlet-name>
    <servlet-class>uniquedeveloper.Deposit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deposit</servlet-name>
    <url-pattern>/Deposit</url-pattern>
  </servlet-mapping>
</web-app>